.table_style .ant-table-thead > tr > th {
  background: #576ce6;
  color: white;
  font-weight: 900;
  border-radius: 8px;
  text-align: center;
}

.table_style .ant-table-thead {
  border: 2px solid red;
}
.custom_button {
    margin: 3px;

    margin-top: 8px;
  border-radius: 14px;
}
